$color-accent-1:#B3C41D;
$color-accent-2:#FBEDDA;
$color-accent-3:#772D8B;
$color-black:#021112;
$color-primary-shade:#C8F3F9;
$color-primary:#13A6BA;
$color-black_shade:#677071;
$color-black_shade_2:#CCCFD0;
$color-black_shade_3:#E0E2E3;
$color-gray:#CFCCCC;
$color-secondary_shade:#FEECEB;
$color-green:#FBFCED;
$color-accent-2-shade-2:#FDF6ED;


@mixin create_button($text-size, $text-color, $text-weight, $button-width, $button-height, $button-color, $button-border-radius){
    font-size: $text-size;
    color: $text-color;
    font-weight: $text-weight;

    width: $button-width;
    height: $button-height;
    background-color: $button-color;
    border-radius: $button-border-radius;

    text-align: center;
    line-height: $button-height;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Serif", serif;
}

.container {
  width: 1620px;
  border: 1px solid rgba(255, 0, 0, 0);
  margin: 0px auto;
  //display: block;
  //overflow: hidden;
}

a{
    text-decoration: none;
}

header{
    padding-top: 40px;
    background-color: $color-accent-2;
    position: relative;
    overflow: hidden;
    
  nav > *{
    display: inline-block;
    vertical-align: middle;
  }
  nav{
    margin-bottom: 206px;
    margin-top: 0px;
  }

  .logo{
    margin-right: 648px;
  }

  .menu{
    list-style: none;
    padding: 0px;
    li{
      display: inline-block;
      margin-right: 81px;
      a{
        font-family: "Noto Serif", serif;
        color: $color-black;
        font-weight: 400px;
        font-size: 18px;
      }
    }
    li:last-child{
        margin-right: 83px;
    }
  }

  .signIn{
    @include create_button(20px, white, 600, 127px, 50px, $color-primary, 8px)
  }

  .hero{
    font-weight: 800;
    font-size: 80px;
    width: 988px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 31px;
  }

  .about{
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: $color-black_shade;
    width: 726px;
    margin: 0 auto;
    margin-bottom: 132px;
  }

  .wrapper{
    overflow: hidden;
    width: 1274px;
    height: 273px;
    background-color: white;
    margin: 0px auto;
    margin-bottom: 1046px;
    border-radius: 20px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    position: relative;
    z-index: 2;

    .bg{
        width: 1274px;
        height: 109px;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom: 1px solid $color-black_shade_3;
    }
    input[type="radio"]{
        position: absolute;
        top: 0;
        appearance: none;
        width: 75px;
        height: 111px;
        //background-color: blue;

        margin: 0px;

        text-align: center;
        line-height: 113px;
        font-size: 26px;
        font-weight: 300;
        //background-color: blue;

        color: $color-black_shade_2;
        //z-index: 3;
        cursor: pointer;
    }

    #rent1{
        left: 54px;
    }
    #buy1{
        left: 201px;
    }
    #sell1{
        left: 339px;
    }

    #rent1::after{
        content: "Rent";
        font-family: "Noto Serif", serif;
    }
    #buy1::after{
        content: "Buy";
        font-family: "Noto Serif", serif;
    }
    #sell1::after{
        content: "Sell";
        font-family: "Noto Serif", serif;
    }

    #rent1:checked{
        color: $color-black;
        border-bottom: 3px solid $color-black;
        font-weight: 600;
    }
    #buy1:checked{
        //background-color: rebeccapurple;
        color: $color-black;
        border-bottom: 3px solid $color-black;
        font-weight: 600;
    }
    #sell1:checked{
        color: $color-black;
        border-bottom: 3px solid $color-black;
        font-weight: 600;
    }

    #rent1:checked ~ .slides{
        left: 0px;
    }
    #buy1:checked ~ .slides{
        left: -1281px;
        //background-color: orange;
    }
    #sell1:checked ~ .slides{
        left: -2562px;
        //background-color: pink;
    }

    .slides{
        //border: 1px solid greenyellow;
        width: 3900px;
        position: relative;
        top: 0;
        left: 0;
        transition: 0.5s;
    }

    .slide{
        display: inline-block;
        //border: 1px solid blue;
        width: 1274px;
        
        

        > *{
            display: inline-block;
            vertical-align: top;
            > *{
                display: inline-block;
            }
        }
        i{
            font-size: 18px;
            color: $color-primary;
            width: 35px;
            text-align: center;
        }
        .loc{
            width: 361px;
            height: 161px;
            //background-color: rgb(26, 255, 0);
        }
        .prop{
            width: 292px;
            height: 161px;
            //background-color: rgb(43, 99, 99);
        }

        .price{
            width: 360px;
            height: 161px;
            //background-color: rgb(21, 43, 43);
        }

        .info_loc, .info_prop, .info_price{
            margin-left: 47px;
            margin-top: 32px;

            font-weight: 400;
            font-size: 18px;
            color: $color-black_shade_2;
        }
        .info_loc_p, .info_prop_c, .info_price_c{
            margin: 0px;
            margin-top: 6px;
            margin-left: 82px;

            font-weight: 600;
            font-size: 36px;
            color: $color-black;
        }

        .vert_line{
            background-color: $color-gray;
            width: 1px;
            height: 50px;
            margin: 0px;
            margin-top:43px;
            margin-left: -4px;
            margin-right: -4px
        }

        .search{
            @include create_button(28px, white, 600, 206px, 83px, $color-primary, 20px);
            margin-top: 27px;
        }
    }
  }

  .header_home{
    height: 1319px;
    // margin-left: 50%;
    transform: translate(-50%, 10%);
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
  }
}

.properties {
    .container{
        position: relative;
        //border: 1px solid orangered;
        margin-top: 290px;
        overflow: hidden;
        //padding-bottom: 458px;
    }
    .properties__header{
        margin: 0px;
        
        font-weight: 700;
        font-size: 58px;
        color: $color-black;
    }

    .properties__label{
        display: inline-block;
        margin: 0px;
        margin-top: 21px;
        margin-bottom: 99px;
        font-weight: 400;
        font-size: 18px;
        color: $color-black_shade;
    }

    .slides{
        position: relative;
        left: 0;
        //border: 1px solid blue;
        width: 4880px;
        transition: 1.5s;
        margin-bottom: 458px;
    }

    
    .properties__rent-pointer,
    .properties__buy-pointer,
    .properties__sell-pointer{
        position: absolute;
        top: 87px;
        transform: translate(-50%, -50%);

        height: 13.48px;
        width: 13.48px;
        border-radius: 50%;
        background-color: none;
    }
    .properties__rent-pointer{
        left: 1265px;
    }
    .properties__buy-pointer{
        left: 1410px;
    }
    .properties__sell-pointer{
        left: 1540px;
    }
    
    .properties__rent,
    .properties__buy,
    .properties__sell{
        appearance:none;
        position: absolute;
        top: 87px;
        z-index: 2;

        cursor: pointer;
        margin: 0px;
    }
    .properties__rent{
        left: 1265px;
    }
    .properties__buy{
        left: 1410px;
    }
    .properties__sell{
        left: 1540px;
    }

    .properties__rent:checked ~ .slides{
        left: 0;
    }
    .properties__buy:checked ~ .slides{
        left: -1616px;
    }
    .properties__sell:checked ~ .slides{
        left: -3232px;
    }

    .properties__rent::before,
    .properties__buy::before,
    .properties__sell::before{//
        display: inline-block;
        transform: translate(-50%, -50%);

        content: "";
        width: 25.48px;
        height: 25.48px;
        border: 1.3px solid $color-black_shade_2;
        border-radius: 50%;
        
        box-sizing: border-box;
    }
    .properties__rent::after,
    .properties__buy::after,
    .properties__sell::after{//
        display: inline-block;
        position: absolute;
        top: 0;
        left: 27.74px;
        transform: translateY(-50%);

        content: attr(data-info);;
        font-family: "Noto Serif", serif;
        color: $color-black_shade_2;
        font-weight: 600;
        font-size: 26px;
    }

    .properties__rent:checked::before,
    .properties__buy:checked::before,
    .properties__sell:checked::before{//
        border: 1.3px solid $color-accent-3; 
    }
    .properties__rent:checked::after,
    .properties__buy:checked::after,
    .properties__sell:checked::after{//
        color: $color-accent-3;
    }
    .properties__rent:checked ~ .properties__rent-pointer,
    .properties__buy:checked ~ .properties__buy-pointer,
    .properties__sell:checked ~ .properties__sell-pointer{//
        background-color: $color-accent-3;
    }

    .block{
        display: inline-block;
        //border: 1px solid rgb(47, 255, 252);
        //vertical-align: top;
    }
    .block:nth-of-type(2){
        margin-left: -6px;
    }
    .block:nth-of-type(3){
        margin-left: -5px;
    }

    .block__card1{
        margin-left: -3px;
        margin-right: 30px;
    }
    .block__card2{
        margin-left: -5px;
         margin-right: 30px;
    }
    .block__card3{
        margin-left: -5px;
        //margin-right: 25px;
    }

    .block__card{
        vertical-align: top;
        display: inline-block;

        //border: 1px solid rgb(255, 47, 154);
        width: 520px;
        height: 840px;
        box-sizing: border-box;
        padding: 36px 34px 0px;

        border-radius: 40px;
        transition: 0.2s;
    }
    .block__card:hover{
        box-shadow: 2px 4px 55px rgba(0, 0, 0, 0.11);
    }

    .block__img{
        display: inline-block;
        width: 452px;
        height: 352px;
        position: relative;
        overflow: hidden;

        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        //margin: 0px auto
    }

    .block__title{
        font-weight: 700;
        font-size: 30px;
        color: $color-black;
        line-height: 49px;

        margin: 0px;
        margin-top: 46px;
        margin-bottom: 9px;
    }

    .block__place{
        font-weight: 400;
        font-size: 18px;
        color: $color-black_shade;
        line-height: 29px;

        margin: 0px;
    }

    .block__price{
        font-weight: 700;
        font-size: 58px;
        color: $color-black;
        line-height: 91px;

        margin: 0px;
        margin-top: 22px;
        margin-bottom: 2px;
    }

    .block__addition{
        font-weight: 400;
        font-size: 18px;
        color: $color-black_shade_2;
        line-height: 29px;
    }
    .block__addition-bed{
        padding-right: 24px;
        border-right: 1px solid $color-black_shade_2;
    }
    .block__addition-bath{
        padding-right: 24px;
        padding-left: 24px;
        border-right: 1px solid $color-black_shade_2;
    }
    .block__addition-sqft{
        padding-left: 24px;
    }

    .block__button-see{
        display: block;
        margin: 0px;
        margin-top: 55px;

        @include create_button(28px, $color-primary, 600, 453px, 83px, white, 20px);
        border: 2.5px solid $color-primary;
        transition: 0.2s;
    }

    .block__button-see:hover{
        background-color: $color-primary;
        color: white;
    }

    .img__home1{
        position: absolute;
        top: -10px;
        left: -15px;
        
        display: inline-block;
        width: 472px;
        //height: 352px;
    }

    .img__home2{
        position: absolute;
        top:-15px;
        left: -60px;
        
        display: inline-block;
        width: 599px;
        //height: 352px;
    }

    .img__home3{
        position: absolute;
        top: -15px;
        left: -15px;
        
        display: inline-block;
        width: 528px;
        //height: 352px;
    }

    .img__home4{
        position: absolute;
        top: 0;
        left: -80px;
        
        display: inline-block;
        width: 630px;
        //height: 352px;
    }

    .img__home5{
        position: absolute;
        top: 0;
        left: -80px;
        
        display: inline-block;
        width: 700px;
        //height: 352px;
    }

    .img__home6{
        position: absolute;
        top: 0;
        left: -180px;
        
        display: inline-block;
        width: 800px;
        //height: 352px;
    }

    .img__home7{
        position: absolute;
        top: -10px;
        left: -70px;
        
        display: inline-block;
        width: 600px;
        //height: 352px;
    }

    .img__home8{
        position: absolute;
        top: -10px;
        left: -170px;
        
        display: inline-block;
        width: 800px;
        //height: 352px;
    }

    .img__home9{
        position: absolute;
        top: 0;
        left: -10px;
        
        display: inline-block;
        width: 500px;
        height: 400px;
    }
}

.benefits{
    .container{
        position: relative;
    }
    .block-img{
        z-index: 2;
        position: relative;
        width: 795px;
        height: 883px;
        overflow: hidden;
        display: inline-block;

        margin-bottom: 503px;
    }

    .block-img__img{
        position: absolute;
        top: -310px;
        left: -43px;
        width: 849px;
    }

    .discover-place{
        z-index: 3;
        position: absolute;
        top: 652px;
        left: -104px;

        box-sizing: border-box;
        width: 391px;
        height: 191px;
        border-radius: 20px;
        box-shadow: -12px 16px 46px rgba(0, 0, 0, 0.08);
        background-color: white;
        //border: 1px solid orangered;

        padding-left: 40px;
        padding-top: 34px;
    }

    .discover-place__head{
        font-weight: 600;
        font-size: 20px;
        color: $color-black;
        margin: 0px;
        margin-bottom: 4px;
    }

    .discover-place__label{
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        color: $color-black_shade_2;
        margin-bottom: 19px;
    }

    .discover-place__img{
        position: relative;
        display: inline-block;

        //border: 1px solid goldenrod;
        width: 58px;
        height: 55px;
        border-radius: 5px;
        overflow: hidden;

        margin-right: 15px;
    }

    .discover-place__img1{
        position: absolute;
        top: -2px;
        left: -5px;
        width: 77px;
    }

    .discover-place__img2{
        position: absolute;
        top: -1px;
        left: -11px;
        width: 70px;
    }

    .discover-place__img3{
        position: absolute;
        top: -12px;
        left: -30px;
        width: 115px;
    }

    .discover-place__images-link{
        display: inline-block;

        vertical-align: top;
        border-radius: 5px;
        width: 58px;
        height: 55px;
        //border: 1px solid green;
        background-color: red;
        position: relative;
    }

    .discover-place__img4{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .benefits__circle{
        z-index: 1;
        position: absolute;
        top: 0;
        left: -143px;
        transform: translate(-50%, -50%);

        width: 574px;
        height: 574px;
        border-radius: 50%;
        background-color: $color-secondary_shade;
    }

    .benefits-info{
        vertical-align: top;
        display: inline-block;
        //border: 1px solid olivedrab;
        width: 670px;
        margin-left: 130px;
    }

    .benefits-text__header{
        font-weight: 700;
        font-size: 58px;
        line-height: 91px;
        color: $color-black;
        margin: 0px;
        margin-top: 65px;
        margin-bottom: 88px;
    }

    .benefits-blocks__block{
        //border: 1px solid blue;
        margin-bottom: 64px;
    }

    .benefits-blocks__block-img{
        width: 121px;
        height: 121px;
        border-radius: 10px;
        background-color: $color-green;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }

    .benefits-blocks__block-text{
        //border: 1px solid green;
        display: inline-block;
        vertical-align: top;
        margin-left: 32px;
    }

    .benefits-blocks__block i{
        color: $color-accent-1;
        font-size: 66px;
        line-height: 121px;
    }

    .benefits-blocks__block-text-header{
        font-weight: 600;
        font-size: 36px;
        line-height: 50px;
        color: $color-black;
        margin: 0px;
        margin-top: 9px;
        margin-bottom: 16px;
    }

    .benefits-blocks__block-text-label{
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: $color-black_shade;
        margin-bottom: 17px;
    }
}

.happening{
    position: relative;
    .container{
        padding-bottom: 502px;
    }
    .happening-block-text{
        position: relative;
        z-index: 10;
        width: 695px;
    }
    .happening-block-text__header{
        margin: 0px;
        margin-bottom: 41px;

        width: 695px;
        font-weight: 700;
        font-size: 58px;
        line-height: 91px;
        color: $color-black;
    }
    .happening-block-text__lab{
        display: block;
        width: 568px;

        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        color: $color-black_shade;
    }

    .happening-block-text__vert-line{
        vertical-align: top;
        margin-top: 69px;
        margin-left: 46px;
        margin-right: 46px;

        width: 0px;
        height: 47px;
        border-right: 0.5px solid $color-black_shade_3;
        display: inline-block;
    }
    .happening-block-text__complement{
        vertical-align: top;
        margin-top: 47px;
        display: inline-block;
    }
    .happening-block-text__complement-num{
        font-weight: 700;
        font-size: 42px;
        line-height: 59px;
        color: $color-black;

        margin: 0px;
    }
    .happening-block-text__complement-lab{
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $color-black_shade;
    }

    
    .happening__back-img-blue{
        z-index: 1;
        position: absolute;
        top: -223px;
        right: 0;
    }
    .happening__back-img-line{
        z-index: 2;
        position: absolute;
        top: -360px;
        right: 0;;
    }



    .happening__big-win{
        position: absolute;
        top: -188px;
        right: 256px;
        z-index: 3;

        background-color: white;
        width: 584px;
        height: 721px;
        border-radius: 20px;
        box-shadow: 8px 27px 69px rgba(0, 0, 0, 0.08);

        box-sizing: border-box;
        padding: 41px 41px 0px;
    }
    .happening__big-win-container-i{
        color: $color-black_shade_2;
        text-align: right;
        font-size: 26px;
        margin-bottom: 36px;
        padding-right: 23px;
    }

    .happening__big-win-home{
        width: 501px;
        height: 319px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        //border: 1px solid greenyellow;
    }
    .happening__big-win-home-img{
        position: absolute;
        top: 0px;
        left: -20px;
        width: 561px;
    }

    .happening__big-win-block-people{
        //border: 1px solid greenyellow;

        position: relative;
        display: inline-block;
        width: 132px;
        height: 53px;
        
        margin-top: 39px;
        margin-bottom: 35px;
    }
    .happening__big-win-person-img{
        border-radius: 50%;
        width: 53px;
    }
    .person1,
    .person2,
    .person3,
    .person4{
        position: absolute;
    }
    .person2{
        transform: translateX(50%);
    }
    .person3{
        transform: translateX(100%);
    }
    .person4{
        transform: translateX(150%);
    }
    
    .happening__big-win-header{
        vertical-align: top;
        display: inline-block;
        margin: 0px;
        margin-top: 54px;
        margin-left: 29px;

        font-weight: 500;
        font-size: 14px;
        color: $color-black;
    }
    
    .happening__big-win-lab{
        font-weight: 400;
        font-size: 12px;
        color: $color-black_shade;
        display: block;
        line-height: 182%
    }

    .happening__big-win-action{
        margin-top: 30px;
    }

    .happening__big-win-com,
    .happening__big-win-send{
        display: inline-block;
        i{
            //display: inline-block;
            font-weight: normal;
            font-size: 26px;
            color: $color-black_shade;
            //line-height: 100%
        }
        label{
            //cursor: pointer;
            //display: inline-block;
            font-weight: 400;
            font-size: 14px;
            color: $color-black_shade;
            margin-left: 5px;
            //line-height: 100%
        }
    }
    .happening__big-win-com-link{
        cursor: pointer;
    }
    .happening__big-win-com{
        margin-left: 220px;
    }
    .happening__big-win-send{
        margin-left: 155px;
    }
    
    .happening__big-win-send-link{
        cursor: pointer;
    }
    .happening__google-icon{
        position: absolute;
        top: -100px;
        right: 149px;
        z-index: 4;

        background-color: white;
        box-shadow: 6px 22px 40px rgba(0, 0, 0, 0.05);
        //border: 1px solid red;
        width: 169px;
        height: 169px;
        border-radius: 20px;
        padding: 36px;
        box-sizing: border-box;
    }
    .happening__google-icon-img{
        width: 97px;
        height: 97px;
    }

    .happening__big-win-save{
        position: absolute;
        top: 405px;
        right: 66px;

        width: 52px;
        height: 52px;
        padding: 7px;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        overflow: hidden;
    }
    .happening__big-win-save-img{
        width: 38.6px;
    }



    .happening__small-win{
        position: absolute;
        top: 400px;
        right: 690px;
        z-index: 4;

        box-sizing: border-box;
        background-color: white;
        width: 308px;
        height: 308px;
        border-radius: 20px;
        box-shadow: 16px -16px 42px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding-top: 33px;
    }
    .happening__small-win-home{
        width: 69px;
        height: 69px;
        border-radius: 50%;
        position: relative;
        background-color:$color-accent-2;
        overflow: hidden;
        margin: 0px auto;
    }
    .happening__small-win-home-img{
        position: absolute;
        top: 5px;
        left: -20px;

        width: 117px;
    }

    .happening__small-win-header{
        font-weight: 700;
        font-size: 20px;
        color: $color-black;
        margin: 0px;
        margin-top: 14px;
        margin-bottom: 6px;
    }
    .happening__small-win-lab{
        font-weight: 400;
        font-size: 10px;
        color: $color-black_shade_2;
        margin: 0px;
        margin-bottom: 26px;
        display: block;
    }

    .happening__small-win-lab-action-posts,.happening__small-win-lab-action-foll{
        font-weight: 400;
        font-size: 12px;
        color: $color-black_shade;
        margin-bottom: 26px;
        display: inline-block;
        span{
            font-weight: 600;
        }
    }
    .happening__small-win-lab-action-foll{
        margin-left: 113px;
    }

    .happening__small-win-but-foll,
    .happening__small-win-but-mes{
        display: inline-block;
        @include create_button(10px, $color-black_shade, 400, 116px, 42px, white, 10px);
        border: 1px solid $color-black_shade_3;
        transition: 0.2s;
        i{
            margin-right: 7px;
        }
    }
    .happening__small-win-but-foll:hover,
    .happening__small-win-but-mes:hover{
        background-color: $color-accent-3;
        border: 1px solid $color-accent-3;
        color:white;
    }
}

.customer{
    background-color: $color-accent-2-shade-2;
    position: relative;
    .customer__text{
        width: 695px;
        margin-left: 963px;
        margin-top: 190px;
    }

    .customer__text-lab-head{
        display: inline-block;
        margin: 0px;

        font-weight: 400;
        font-size: 18px;
        line-height: 42px;
        color: $color-primary;
        letter-spacing: 5px;
    }
    .customer__text-header{
        margin: 0px;
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 58px;
        line-height: 91px;
        color: $color-black;
    }

    .customer__text-page{
        margin: 0px;
        margin-bottom: 59px;

        font-weight: 400;
        font-size: 24px;
        line-height: 42px;
        color: $color-black;
    }

    .customer__text-name{
        margin: 0px;
        margin-bottom: 2px;

        font-weight: 700;
        font-size: 24px;
        line-height: 42px;
        color: $color-black;
    }
    .customer__text-name-lab{
        display: inline-block;
        margin: 0px;
        margin-bottom: 190px;

        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $color-black_shade;
    }

    .customer__img-person{
        position: absolute;
        bottom: 0px;
        left: 112px;

        width: 811px;
    }
    .customer__img-hz{
        position: absolute;
        bottom: 643px;
        left: 830px;
    }
    .customer__img-cav{
        position: absolute;
        top: 89px;
        right: 59px;
    }
    .customer__img-blur{
        position: absolute;
        bottom: 600px;
        left: 810px;
    }
}

.find{
    overflow: hidden;
    .container{
        position: relative;
        
    }
    .find__block-text{
        margin-top: 291px;
        margin-bottom: 299px;
    }
    .find__header{
        font-weight: 700;
        font-size: 58px;
        line-height: 91px;
        color: $color-black;
        width: 695px;
    }
    .find__page{
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        color: $color-black_shade;
        width: 568px;
    }
    .find__email{
        font-family: "Noto Serif", serif;
        box-sizing: border-box;
        width: 716px;
        height: 105px;
        border-radius: 20px;
        outline: none;
        border: 1px solid $color-primary-shade;
        padding-left: 45px;
        padding-right: 250px;

        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $color-black_shade;
    }
    .find__button{
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);

        cursor: pointer;
        @include create_button(20px, white, 600, 191px, 72px, $color-primary, 15px);
        font-family: "Noto Serif", serif;
        border: none;
        //transform: translateX(-100%);
    }
    .find__form{
        position: absolute;
        top: 408px;
        left: 904px;
        z-index: 5;
    }

    .find__img-red-line{
        position: absolute;
        top: 244px;
        left: -150px;
        z-index: 10;
    }
    .find__img-circles{
        position: absolute;
        top: 496px;
        right: -78px;
    }
    .find__img-pol{
        position: absolute;
        bottom: 109px;
        right: -150px;
    }
}

footer{
    overflow: hidden;
    .footer__block{
        display: inline-block;
        //border: 1px solid orange;
        vertical-align: top;
        height: 350px;
    }

    .footer__logo-img{
        width: 163px;
    }
    .footer__logo-text{
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: $color-black_shade;
        width: 338px;

        margin: 0px;
        margin-top: 39px;
    }

    .footer__block-list{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .footer__block-list-header{
        margin-bottom: 50px;
    }
    .footer__block-list-header-link{
        font-weight: 700;
        font-size: 24px;
        line-height: 42px;
        color: $color-black;
    }

    .footer__block-list-item{
        margin-bottom: 24px;
    }
    .footer__block-list-item:last-child{
        margin: 0px;
    }
    .footer__block-list-item-link{
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: $color-black;
    }

    .footer__block-last-header{
        font-weight: 700;
        font-size: 24px;
        line-height: 42px;
        color: $color-black;
        margin: 0px;
    }
    .footer__block-last-p{
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: $color-black;

        width: 283px;
        margin-top: 50px;
        margin-bottom: 41px;
    }

    .footer__block-media{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .footer__block-media-item{
        display: inline-block;
        width: 41px;
        height: 40px;
        color: $color-primary-shade;
        border: 1px solid $color-primary-shade;
        transition: 0.2s;
        margin-right: 33px;

        i{
            font-size: 20px;
            line-height: 41px;
            width: 40px;
            text-align: center;
        }
    }
    .footer__block-media-item-link{
        color: $color-primary-shade;
    }
    .footer__block-media-item:last-child{
        margin-right: 0px;
    }
    .footer__block-media-item-link:hover{
        color: $color-primary;
    }
    .footer__block-media-item:hover{
        color: $color-primary;
        border: 1px solid $color-primary;
    }

    .footer__block1{
        margin-right: 153px;
    }
    .footer__block2{
        margin-right: 159px;
    }
    .footer__block3{
        margin-right: 154px;
    }
    .footer__block4{
        margin-right: 137px;
    }

    .blabla{
        //overflow: hidden;
        position: relative;
        width: 1600px;
        margin: 0px auto;
        text-align: center;
    }
    .horiz-line{
        position: absolute;
        top: 0;
        left: -50%;
        transform: translateY(-50%);

        border-top: 1px solid $color-black_shade_3;
        width: 10000px;
    }
    .footer__last-label{
        display: inline-block;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: $color-black_shade;
        margin: 29px auto;
    }
}