body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Serif", serif;
}

.container {
  width: 1620px;
  border: 1px solid rgba(255, 0, 0, 0);
  margin: 0px auto;
}

a {
  text-decoration: none;
}

header {
  padding-top: 40px;
  background-color: #FBEDDA;
  position: relative;
  overflow: hidden;
}
header nav > * {
  display: inline-block;
  vertical-align: middle;
}
header nav {
  margin-bottom: 206px;
  margin-top: 0px;
}
header .logo {
  margin-right: 648px;
}
header .menu {
  list-style: none;
  padding: 0px;
}
header .menu li {
  display: inline-block;
  margin-right: 81px;
}
header .menu li a {
  font-family: "Noto Serif", serif;
  color: #021112;
  font-weight: 400px;
  font-size: 18px;
}
header .menu li:last-child {
  margin-right: 83px;
}
header .signIn {
  font-size: 20px;
  color: white;
  font-weight: 600;
  width: 127px;
  height: 50px;
  background-color: #13A6BA;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
}
header .hero {
  font-weight: 800;
  font-size: 80px;
  width: 988px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 31px;
}
header .about {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #677071;
  width: 726px;
  margin: 0 auto;
  margin-bottom: 132px;
}
header .wrapper {
  overflow: hidden;
  width: 1274px;
  height: 273px;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 1046px;
  border-radius: 20px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  position: relative;
  z-index: 2;
}
header .wrapper .bg {
  width: 1274px;
  height: 109px;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid #E0E2E3;
}
header .wrapper input[type=radio] {
  position: absolute;
  top: 0;
  appearance: none;
  width: 75px;
  height: 111px;
  margin: 0px;
  text-align: center;
  line-height: 113px;
  font-size: 26px;
  font-weight: 300;
  color: #CCCFD0;
  cursor: pointer;
}
header .wrapper #rent1 {
  left: 54px;
}
header .wrapper #buy1 {
  left: 201px;
}
header .wrapper #sell1 {
  left: 339px;
}
header .wrapper #rent1::after {
  content: "Rent";
  font-family: "Noto Serif", serif;
}
header .wrapper #buy1::after {
  content: "Buy";
  font-family: "Noto Serif", serif;
}
header .wrapper #sell1::after {
  content: "Sell";
  font-family: "Noto Serif", serif;
}
header .wrapper #rent1:checked {
  color: #021112;
  border-bottom: 3px solid #021112;
  font-weight: 600;
}
header .wrapper #buy1:checked {
  color: #021112;
  border-bottom: 3px solid #021112;
  font-weight: 600;
}
header .wrapper #sell1:checked {
  color: #021112;
  border-bottom: 3px solid #021112;
  font-weight: 600;
}
header .wrapper #rent1:checked ~ .slides {
  left: 0px;
}
header .wrapper #buy1:checked ~ .slides {
  left: -1281px;
}
header .wrapper #sell1:checked ~ .slides {
  left: -2562px;
}
header .wrapper .slides {
  width: 3900px;
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s;
}
header .wrapper .slide {
  display: inline-block;
  width: 1274px;
}
header .wrapper .slide > * {
  display: inline-block;
  vertical-align: top;
}
header .wrapper .slide > * > * {
  display: inline-block;
}
header .wrapper .slide i {
  font-size: 18px;
  color: #13A6BA;
  width: 35px;
  text-align: center;
}
header .wrapper .slide .loc {
  width: 361px;
  height: 161px;
}
header .wrapper .slide .prop {
  width: 292px;
  height: 161px;
}
header .wrapper .slide .price {
  width: 360px;
  height: 161px;
}
header .wrapper .slide .info_loc, header .wrapper .slide .info_prop, header .wrapper .slide .info_price {
  margin-left: 47px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 18px;
  color: #CCCFD0;
}
header .wrapper .slide .info_loc_p, header .wrapper .slide .info_prop_c, header .wrapper .slide .info_price_c {
  margin: 0px;
  margin-top: 6px;
  margin-left: 82px;
  font-weight: 600;
  font-size: 36px;
  color: #021112;
}
header .wrapper .slide .vert_line {
  background-color: #CFCCCC;
  width: 1px;
  height: 50px;
  margin: 0px;
  margin-top: 43px;
  margin-left: -4px;
  margin-right: -4px;
}
header .wrapper .slide .search {
  font-size: 28px;
  color: white;
  font-weight: 600;
  width: 206px;
  height: 83px;
  background-color: #13A6BA;
  border-radius: 20px;
  text-align: center;
  line-height: 83px;
  margin-top: 27px;
}
header .header_home {
  height: 1319px;
  transform: translate(-50%, 10%);
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
}

.properties .container {
  position: relative;
  margin-top: 290px;
  overflow: hidden;
}
.properties .properties__header {
  margin: 0px;
  font-weight: 700;
  font-size: 58px;
  color: #021112;
}
.properties .properties__label {
  display: inline-block;
  margin: 0px;
  margin-top: 21px;
  margin-bottom: 99px;
  font-weight: 400;
  font-size: 18px;
  color: #677071;
}
.properties .slides {
  position: relative;
  left: 0;
  width: 4880px;
  transition: 1.5s;
  margin-bottom: 458px;
}
.properties .properties__rent-pointer,
.properties .properties__buy-pointer,
.properties .properties__sell-pointer {
  position: absolute;
  top: 87px;
  transform: translate(-50%, -50%);
  height: 13.48px;
  width: 13.48px;
  border-radius: 50%;
  background-color: none;
}
.properties .properties__rent-pointer {
  left: 1265px;
}
.properties .properties__buy-pointer {
  left: 1410px;
}
.properties .properties__sell-pointer {
  left: 1540px;
}
.properties .properties__rent,
.properties .properties__buy,
.properties .properties__sell {
  appearance: none;
  position: absolute;
  top: 87px;
  z-index: 2;
  cursor: pointer;
  margin: 0px;
}
.properties .properties__rent {
  left: 1265px;
}
.properties .properties__buy {
  left: 1410px;
}
.properties .properties__sell {
  left: 1540px;
}
.properties .properties__rent:checked ~ .slides {
  left: 0;
}
.properties .properties__buy:checked ~ .slides {
  left: -1616px;
}
.properties .properties__sell:checked ~ .slides {
  left: -3232px;
}
.properties .properties__rent::before,
.properties .properties__buy::before,
.properties .properties__sell::before {
  display: inline-block;
  transform: translate(-50%, -50%);
  content: "";
  width: 25.48px;
  height: 25.48px;
  border: 1.3px solid #CCCFD0;
  border-radius: 50%;
  box-sizing: border-box;
}
.properties .properties__rent::after,
.properties .properties__buy::after,
.properties .properties__sell::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 27.74px;
  transform: translateY(-50%);
  content: attr(data-info);
  font-family: "Noto Serif", serif;
  color: #CCCFD0;
  font-weight: 600;
  font-size: 26px;
}
.properties .properties__rent:checked::before,
.properties .properties__buy:checked::before,
.properties .properties__sell:checked::before {
  border: 1.3px solid #772D8B;
}
.properties .properties__rent:checked::after,
.properties .properties__buy:checked::after,
.properties .properties__sell:checked::after {
  color: #772D8B;
}
.properties .properties__rent:checked ~ .properties__rent-pointer,
.properties .properties__buy:checked ~ .properties__buy-pointer,
.properties .properties__sell:checked ~ .properties__sell-pointer {
  background-color: #772D8B;
}
.properties .block {
  display: inline-block;
}
.properties .block:nth-of-type(2) {
  margin-left: -6px;
}
.properties .block:nth-of-type(3) {
  margin-left: -5px;
}
.properties .block__card1 {
  margin-left: -3px;
  margin-right: 30px;
}
.properties .block__card2 {
  margin-left: -5px;
  margin-right: 30px;
}
.properties .block__card3 {
  margin-left: -5px;
}
.properties .block__card {
  vertical-align: top;
  display: inline-block;
  width: 520px;
  height: 840px;
  box-sizing: border-box;
  padding: 36px 34px 0px;
  border-radius: 40px;
  transition: 0.2s;
}
.properties .block__card:hover {
  box-shadow: 2px 4px 55px rgba(0, 0, 0, 0.11);
}
.properties .block__img {
  display: inline-block;
  width: 452px;
  height: 352px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.properties .block__title {
  font-weight: 700;
  font-size: 30px;
  color: #021112;
  line-height: 49px;
  margin: 0px;
  margin-top: 46px;
  margin-bottom: 9px;
}
.properties .block__place {
  font-weight: 400;
  font-size: 18px;
  color: #677071;
  line-height: 29px;
  margin: 0px;
}
.properties .block__price {
  font-weight: 700;
  font-size: 58px;
  color: #021112;
  line-height: 91px;
  margin: 0px;
  margin-top: 22px;
  margin-bottom: 2px;
}
.properties .block__addition {
  font-weight: 400;
  font-size: 18px;
  color: #CCCFD0;
  line-height: 29px;
}
.properties .block__addition-bed {
  padding-right: 24px;
  border-right: 1px solid #CCCFD0;
}
.properties .block__addition-bath {
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid #CCCFD0;
}
.properties .block__addition-sqft {
  padding-left: 24px;
}
.properties .block__button-see {
  display: block;
  margin: 0px;
  margin-top: 55px;
  font-size: 28px;
  color: #13A6BA;
  font-weight: 600;
  width: 453px;
  height: 83px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  line-height: 83px;
  border: 2.5px solid #13A6BA;
  transition: 0.2s;
}
.properties .block__button-see:hover {
  background-color: #13A6BA;
  color: white;
}
.properties .img__home1 {
  position: absolute;
  top: -10px;
  left: -15px;
  display: inline-block;
  width: 472px;
}
.properties .img__home2 {
  position: absolute;
  top: -15px;
  left: -60px;
  display: inline-block;
  width: 599px;
}
.properties .img__home3 {
  position: absolute;
  top: -15px;
  left: -15px;
  display: inline-block;
  width: 528px;
}
.properties .img__home4 {
  position: absolute;
  top: 0;
  left: -80px;
  display: inline-block;
  width: 630px;
}
.properties .img__home5 {
  position: absolute;
  top: 0;
  left: -80px;
  display: inline-block;
  width: 700px;
}
.properties .img__home6 {
  position: absolute;
  top: 0;
  left: -180px;
  display: inline-block;
  width: 800px;
}
.properties .img__home7 {
  position: absolute;
  top: -10px;
  left: -70px;
  display: inline-block;
  width: 600px;
}
.properties .img__home8 {
  position: absolute;
  top: -10px;
  left: -170px;
  display: inline-block;
  width: 800px;
}
.properties .img__home9 {
  position: absolute;
  top: 0;
  left: -10px;
  display: inline-block;
  width: 500px;
  height: 400px;
}

.benefits .container {
  position: relative;
}
.benefits .block-img {
  z-index: 2;
  position: relative;
  width: 795px;
  height: 883px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 503px;
}
.benefits .block-img__img {
  position: absolute;
  top: -310px;
  left: -43px;
  width: 849px;
}
.benefits .discover-place {
  z-index: 3;
  position: absolute;
  top: 652px;
  left: -104px;
  box-sizing: border-box;
  width: 391px;
  height: 191px;
  border-radius: 20px;
  box-shadow: -12px 16px 46px rgba(0, 0, 0, 0.08);
  background-color: white;
  padding-left: 40px;
  padding-top: 34px;
}
.benefits .discover-place__head {
  font-weight: 600;
  font-size: 20px;
  color: #021112;
  margin: 0px;
  margin-bottom: 4px;
}
.benefits .discover-place__label {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: #CCCFD0;
  margin-bottom: 19px;
}
.benefits .discover-place__img {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 55px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 15px;
}
.benefits .discover-place__img1 {
  position: absolute;
  top: -2px;
  left: -5px;
  width: 77px;
}
.benefits .discover-place__img2 {
  position: absolute;
  top: -1px;
  left: -11px;
  width: 70px;
}
.benefits .discover-place__img3 {
  position: absolute;
  top: -12px;
  left: -30px;
  width: 115px;
}
.benefits .discover-place__images-link {
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  width: 58px;
  height: 55px;
  background-color: red;
  position: relative;
}
.benefits .discover-place__img4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefits .benefits__circle {
  z-index: 1;
  position: absolute;
  top: 0;
  left: -143px;
  transform: translate(-50%, -50%);
  width: 574px;
  height: 574px;
  border-radius: 50%;
  background-color: #FEECEB;
}
.benefits .benefits-info {
  vertical-align: top;
  display: inline-block;
  width: 670px;
  margin-left: 130px;
}
.benefits .benefits-text__header {
  font-weight: 700;
  font-size: 58px;
  line-height: 91px;
  color: #021112;
  margin: 0px;
  margin-top: 65px;
  margin-bottom: 88px;
}
.benefits .benefits-blocks__block {
  margin-bottom: 64px;
}
.benefits .benefits-blocks__block-img {
  width: 121px;
  height: 121px;
  border-radius: 10px;
  background-color: #FBFCED;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.benefits .benefits-blocks__block-text {
  display: inline-block;
  vertical-align: top;
  margin-left: 32px;
}
.benefits .benefits-blocks__block i {
  color: #B3C41D;
  font-size: 66px;
  line-height: 121px;
}
.benefits .benefits-blocks__block-text-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #021112;
  margin: 0px;
  margin-top: 9px;
  margin-bottom: 16px;
}
.benefits .benefits-blocks__block-text-label {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #677071;
  margin-bottom: 17px;
}

.happening {
  position: relative;
}
.happening .container {
  padding-bottom: 502px;
}
.happening .happening-block-text {
  position: relative;
  z-index: 10;
}
.happening .happening-block-text__header {
  margin: 0px;
  margin-bottom: 41px;
  width: 695px;
  font-weight: 700;
  font-size: 58px;
  line-height: 91px;
  color: #021112;
}
.happening .happening-block-text__lab {
  display: block;
  width: 568px;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #677071;
}
.happening .happening-block-text__vert-line {
  vertical-align: top;
  margin-top: 69px;
  margin-left: 46px;
  margin-right: 46px;
  width: 0px;
  height: 47px;
  border-right: 0.5px solid #E0E2E3;
  display: inline-block;
}
.happening .happening-block-text__complement {
  vertical-align: top;
  margin-top: 47px;
  display: inline-block;
}
.happening .happening-block-text__complement-num {
  font-weight: 700;
  font-size: 42px;
  line-height: 59px;
  color: #021112;
  margin: 0px;
}
.happening .happening-block-text__complement-lab {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #677071;
}
.happening .happening__back-img-blue {
  z-index: 1;
  position: absolute;
  top: -223px;
  right: 0;
}
.happening .happening__back-img-line {
  z-index: 2;
  position: absolute;
  top: -360px;
  right: 0;
}
.happening .happening__big-win {
  position: absolute;
  top: -188px;
  right: 256px;
  z-index: 3;
  background-color: white;
  width: 584px;
  height: 721px;
  border-radius: 20px;
  box-shadow: 8px 27px 69px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 41px 41px 0px;
}
.happening .happening__big-win-container-i {
  color: #CCCFD0;
  text-align: right;
  font-size: 26px;
  margin-bottom: 36px;
  padding-right: 23px;
}
.happening .happening__big-win-home {
  width: 501px;
  height: 319px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.happening .happening__big-win-home-img {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 561px;
}
.happening .happening__big-win-block-people {
  position: relative;
  display: inline-block;
  width: 132px;
  height: 53px;
  margin-top: 39px;
  margin-bottom: 35px;
}
.happening .happening__big-win-person-img {
  border-radius: 50%;
  width: 53px;
}
.happening .person1,
.happening .person2,
.happening .person3,
.happening .person4 {
  position: absolute;
}
.happening .person2 {
  transform: translateX(50%);
}
.happening .person3 {
  transform: translateX(100%);
}
.happening .person4 {
  transform: translateX(150%);
}
.happening .happening__big-win-header {
  vertical-align: top;
  display: inline-block;
  margin: 0px;
  margin-top: 54px;
  margin-left: 29px;
  font-weight: 500;
  font-size: 14px;
  color: #021112;
}
.happening .happening__big-win-lab {
  font-weight: 400;
  font-size: 12px;
  color: #677071;
  display: block;
  line-height: 182%;
}
.happening .happening__big-win-action {
  margin-top: 30px;
}
.happening .happening__big-win-com,
.happening .happening__big-win-send {
  display: inline-block;
}
.happening .happening__big-win-com i,
.happening .happening__big-win-send i {
  font-weight: normal;
  font-size: 26px;
  color: #677071;
}
.happening .happening__big-win-com label,
.happening .happening__big-win-send label {
  font-weight: 400;
  font-size: 14px;
  color: #677071;
  margin-left: 5px;
}
.happening .happening__big-win-com-link {
  cursor: pointer;
}
.happening .happening__big-win-com {
  margin-left: 220px;
}
.happening .happening__big-win-send {
  margin-left: 155px;
}
.happening .happening__big-win-send-link {
  cursor: pointer;
}
.happening .happening__google-icon {
  position: absolute;
  top: -100px;
  right: 149px;
  z-index: 4;
  background-color: white;
  box-shadow: 6px 22px 40px rgba(0, 0, 0, 0.05);
  width: 169px;
  height: 169px;
  border-radius: 20px;
  padding: 36px;
  box-sizing: border-box;
}
.happening .happening__google-icon-img {
  width: 97px;
  height: 97px;
}
.happening .happening__big-win-save {
  position: absolute;
  top: 405px;
  right: 66px;
  width: 52px;
  height: 52px;
  padding: 7px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
.happening .happening__big-win-save-img {
  width: 38.6px;
}
.happening .happening__small-win {
  position: absolute;
  top: 400px;
  right: 690px;
  z-index: 4;
  box-sizing: border-box;
  background-color: white;
  width: 308px;
  height: 308px;
  border-radius: 20px;
  box-shadow: 16px -16px 42px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 33px;
}
.happening .happening__small-win-home {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  position: relative;
  background-color: #FBEDDA;
  overflow: hidden;
  margin: 0px auto;
}
.happening .happening__small-win-home-img {
  position: absolute;
  top: 5px;
  left: -20px;
  width: 117px;
}
.happening .happening__small-win-header {
  font-weight: 700;
  font-size: 20px;
  color: #021112;
  margin: 0px;
  margin-top: 14px;
  margin-bottom: 6px;
}
.happening .happening__small-win-lab {
  font-weight: 400;
  font-size: 10px;
  color: #CCCFD0;
  margin: 0px;
  margin-bottom: 26px;
  display: block;
}
.happening .happening__small-win-lab-action-posts, .happening .happening__small-win-lab-action-foll {
  font-weight: 400;
  font-size: 12px;
  color: #677071;
  margin-bottom: 26px;
  display: inline-block;
}
.happening .happening__small-win-lab-action-posts span, .happening .happening__small-win-lab-action-foll span {
  font-weight: 600;
}
.happening .happening__small-win-lab-action-foll {
  margin-left: 113px;
}
.happening .happening__small-win-but-foll,
.happening .happening__small-win-but-mes {
  display: inline-block;
  font-size: 10px;
  color: #677071;
  font-weight: 400;
  width: 116px;
  height: 42px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #E0E2E3;
  transition: 0.2s;
}
.happening .happening__small-win-but-foll i,
.happening .happening__small-win-but-mes i {
  margin-right: 7px;
}
.happening .happening__small-win-but-foll:hover,
.happening .happening__small-win-but-mes:hover {
  background-color: #772D8B;
  border: 1px solid #772D8B;
  color: white;
}

.customer {
  background-color: #FDF6ED;
  position: relative;
}
.customer .customer__text {
  width: 695px;
  margin-left: 963px;
  margin-top: 190px;
}
.customer .customer__text-lab-head {
  display: inline-block;
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 42px;
  color: #13A6BA;
  letter-spacing: 5px;
}
.customer .customer__text-header {
  margin: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 58px;
  line-height: 91px;
  color: #021112;
}
.customer .customer__text-page {
  margin: 0px;
  margin-bottom: 59px;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  color: #021112;
}
.customer .customer__text-name {
  margin: 0px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #021112;
}
.customer .customer__text-name-lab {
  display: inline-block;
  margin: 0px;
  margin-bottom: 190px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #677071;
}
.customer .customer__img-person {
  position: absolute;
  bottom: 0px;
  left: 112px;
  width: 811px;
}
.customer .customer__img-hz {
  position: absolute;
  bottom: 643px;
  left: 830px;
}
.customer .customer__img-cav {
  position: absolute;
  top: 89px;
  right: 59px;
}
.customer .customer__img-blur {
  position: absolute;
  bottom: 600px;
  left: 810px;
}

.find {
  overflow: hidden;
}
.find .container {
  position: relative;
}
.find .find__block-text {
  margin-top: 291px;
  margin-bottom: 299px;
}
.find .find__header {
  font-weight: 700;
  font-size: 58px;
  line-height: 91px;
  color: #021112;
  width: 695px;
}
.find .find__page {
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #677071;
  width: 568px;
}
.find .find__email {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  width: 716px;
  height: 105px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #C8F3F9;
  padding-left: 45px;
  padding-right: 250px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #677071;
}
.find .find__button {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 600;
  width: 191px;
  height: 72px;
  background-color: #13A6BA;
  border-radius: 15px;
  text-align: center;
  line-height: 72px;
  font-family: "Noto Serif", serif;
  border: none;
}
.find .find__form {
  position: absolute;
  top: 408px;
  left: 904px;
  z-index: 5;
}
.find .find__img-red-line {
  position: absolute;
  top: 244px;
  left: -150px;
  z-index: 10;
}
.find .find__img-circles {
  position: absolute;
  top: 496px;
  right: -78px;
}
.find .find__img-pol {
  position: absolute;
  bottom: 109px;
  right: -150px;
}

footer {
  overflow: hidden;
}
footer .footer__block {
  display: inline-block;
  vertical-align: top;
  height: 350px;
}
footer .footer__logo-img {
  width: 163px;
}
footer .footer__logo-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #677071;
  width: 338px;
  margin: 0px;
  margin-top: 39px;
}
footer .footer__block-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .footer__block-list-header {
  margin-bottom: 50px;
}
footer .footer__block-list-header-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #021112;
}
footer .footer__block-list-item {
  margin-bottom: 24px;
}
footer .footer__block-list-item:last-child {
  margin: 0px;
}
footer .footer__block-list-item-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #021112;
}
footer .footer__block-last-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: #021112;
  margin: 0px;
}
footer .footer__block-last-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #021112;
  width: 283px;
  margin-top: 50px;
  margin-bottom: 41px;
}
footer .footer__block-media {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
footer .footer__block-media-item {
  display: inline-block;
  width: 41px;
  height: 40px;
  color: #C8F3F9;
  border: 1px solid #C8F3F9;
  transition: 0.2s;
  margin-right: 33px;
}
footer .footer__block-media-item i {
  font-size: 20px;
  line-height: 41px;
  width: 40px;
  text-align: center;
}
footer .footer__block-media-item:last-child {
  margin-right: 0px;
}
footer .footer__block-media-item:hover {
  color: #13A6BA;
  border: 1px solid #13A6BA;
}
footer .footer__block1 {
  margin-right: 153px;
}
footer .footer__block2 {
  margin-right: 159px;
}
footer .footer__block3 {
  margin-right: 154px;
}
footer .footer__block4 {
  margin-right: 137px;
}
footer .blabla {
  position: relative;
  width: 1600px;
  margin: 0px auto;
  text-align: center;
}
footer .horiz-line {
  position: absolute;
  top: 0;
  left: -50%;
  transform: translateY(-50%);
  border-top: 1px solid #E0E2E3;
  width: 10000px;
}
footer .footer__last-label {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #677071;
  margin: 29px auto;
}

/*# sourceMappingURL=output.css.map */
